*.pyc
__pycache__/
OBJ.*
*.o
*.tmp.html
*.tmp.md
bin.*/*
build
/out/
dist.*/*
config.log
config.status*
error.log
.ipynb_checkpoints

venv/
env/
.venv/
.env/

.vscode/
/.vs
*.kate-swp

testreport/*
testsuite/examples/testreports/
test_keyvalue_result.txt

node_modules

*.gcov
*.gcno
*.gcda
.coverage
.coverage.*
coverage.xml

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*-prefix/
