---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
                .*\.ascii$|
                .*\.ref$|
                .*\.diff$|
                .*\.rtf$|
                .*\.kate-swp$|
                .*\.svg$
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
                .*\.ascii$|
                .*\.ref$|
                .*\.diff$|
                .*\.rtf$|
                .*\.kate-swp$|
                .*\.svg$
          )
      - id: check-case-conflict
      # - id: check-executables-have-shebangs # Nice to have once fixes applied
      - id: check-json
      - id: check-merge-conflict
      # - id: check-shebang-scripts-are-executable # Nice to have once fixes applied
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
        exclude: |
          (?x)^(
            src/gui/wxpython/wx.metadata/profiles/basicProfile.xml|
            src/gui/wxpython/wx.metadata/profiles/inspireProfile.xml|
            src/gui/wxpython/wx.metadata/profiles/temporalProfile.xml
          )
      - id: destroyed-symlinks
      - id: detect-private-key
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint-fix
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        exclude_types:
          - jupyter
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
