---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
                .*\.ascii$|
                .*\.ref$|
                .*\.diff$|
                .*\.rtf$|
                .*\.kate-swp$|
                .*\.svg$
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
                .*\.ascii$|
                .*\.ref$|
                .*\.diff$|
                .*\.rtf$|
                .*\.kate-swp$|
                .*\.svg$
          )
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v15.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, javascript, json, objective-c]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.21.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict, -d,
               '{extends: default, rules: {truthy: disable, line-length: {max: 120, allow-non-breakable-words: true}}}']
