[tool.black]
line-length = 88
target-version = ['py37', 'py38', 'py39', 'py310']
include = '\.pyi?$'
exclude = '''
(
    # exclude directories in the root of the project
    /(
          \.eggs
        | \.git
        | \.hg
        | \.mypy_cache
        | \.tox
        | \.venv
        | _build
        | buck-out
        | build
        | bin\..*
        | dist\..*
    )/
    | src/hadoop/hd/dependency.py
    | src/hadoop/hd/hd.hive.select/hd.hive.select.py
    | src/hadoop/hd/hdfsgrass/hdfs_grass_util.py
    | src/hadoop/hd/hdfswrapper/webhdfs_hook.py
    | src/gui/wxpython/wx.rdigit/rdigit/main.py
    | src/gui/wxpython/wx.stream/gui_modules/ImageViewer.py
    | src/gui/wxpython/wx.stream/gui_modules/rstream_panelOne.py
    | src/gui/wxpython/wx.wms/parse.py
    | src/gui/wxpython/wx.wms/wmsmenu.py
    | src/gui/wxpython/wx.wms/LoadConfig.py
    | src/raster/r.agent/tests/test_grassland.py
)
'''
