[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E101, # indentation contains mixed spaces and tabs
    E114, # indentation is not a multiple of four (comment)
    E202, # whitespace before '}'
    E211, # whitespace before '('
    E265, # block comment should start with '# '
    E266, # too many leading '#' for block comment
    E301, # expected 1 blank line, found 0
    E302, # expected 2 blank lines, found 1
    E303, # too many blank lines (3)
    E402, # module level import not at top of file
    E501, # line too long (96 > 79 characters)
    E722, # do not use bare 'except'
    E731, # do not assign a lambda expression, use a def
    E741, # ambiguous variable name 'l'
    E999, # SyntaxError: invalid syntax
    F401, # 'animation.utils.getCpuCount' imported but unused
    F403, # 'from gmodeler.model import *' used; unable to detect undefined names
    F405, # '_' may be undefined, or defined from star imports: gmodeler.model
    F632, # use ==/!= to compare constant literals (str, bytes, int, float, tuple)
    F811, # redefinition of unused 'GMessage' from line 35
    F821, # undefined name '_'
    F841, # local variable 'dc' is assigned to but never used
    W293, # blank line contains whitespace
    W605, # invalid escape sequence '\.'
    W191, # indentation contains tabs


max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    testsuite,
