### Cronjob for Building server
### Executed on grass.osgeo.org - /home/martinl/src/grass-addons/tools/addons/

ADDONS=${HOME}/src/grass-addons/tools/addons

0      2    *     *     *   nice ${ADDONS}/grass-addons.sh c
*/15   *    *     *     *   nice ${ADDONS}/grass-addons-public.sh

### Publishing server (grass.osgeo.org)

*/15   *    *     *     *   nice ${ADDONS}/grass-addons-publish.sh
