[flake8]

# E402 module level import not at top of file
# E501 line too long (83 > 79 characters)
# F821 undefined name '_'
# C0302: Too many lines in module (844/800) (too-many-lines)

exclude = .git

max-line-length = 80

per-file-ignores =
   ; ./r.slopeunits.clean/r.slopeunits.clean.py: C0302
   ./r.slopeunits.create/r.slopeunits.create.py: F821, E501
   ./r.slopeunits.metrics/r.slopeunits.metrics.py: F821, E501
   ./r.slopeunits.optimize/r.slopeunits.optimize.py: E501
