---
name: Python Flake8 Code Quality

on:
  push:
    branches:
      - grass[0-9]+
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress:
    # Do not cancel on protected branches, like grass8
    ${{ github.ref_protected != true }}

permissions: {}
env:
  # renovate: datasource=python-version depName=python
  PYTHON_VERSION: "3.10"
  # renovate: datasource=pypi depName=flake8
  FLAKE8_VERSION: "4.0.1"

jobs:
  flake8:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install
        run: |
          python -m pip install --upgrade pip pipx
          pipx install flake8==${{ env.FLAKE8_VERSION }}

      - name: Run Flake8
        run: |
          flake8 --count --statistics --show-source --jobs="$(nproc)" .
